.container {
    flex: 1;
    // align-items: center;
    // justify-content: center;
    height: 100%;
    width: 100%;
}

.inputAreaView {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.inputTitleView {
    width: 30%;
}

.inputTitle {
    font-size: 14px;
    font-weight: 500;
    color: #424242;
}

.inputFieldView {
    width: 70%;
}

.inputField {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
    width: 90%;
    height: 100%;
}

.buttonsTO {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.updateButtonView {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.updateButton {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.disableButtonView {
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.disableButton {
    color: #454545;
    font-size: 14px;
    font-weight: 600;
}
.boldText{
    font-weight: 600;
}