.container {
    flex: 1;
    // align-items: center;
    // justify-content: center;
    height: 100%;
    width: 100%;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gradientBackground {
    flex: 2;
    width: 100%;
    height: 100%;
}

.solidBackground {
    flex: 3;
    width: 100%;
    height: 100%;
    position: relative;
}

.logoAlignment {
    height: 80%;
    justify-content: center;
    align-items: center;
}

.logo {
    resize-mode: contain;
    width: 265px;
}

.accountEmailView {
    margin-top: 20px;
    margin-left: 20px;
}

.accountEmail {
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.profileListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom-color: #AAA;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
}

.profileListItemLeftAlignment {
    display: flex;
    flex-direction: row;
}

.profileListItemTitle {
    color: #333;
    font-size: 14px;
    line-height: 25px;
    margin-left: 10px;
    font-weight: 600;
}