.container {
    flex: 1;
    height: 100%;
    width: 100%;
}

.foods {
    flex: 1;
    flex-direction: column;
    border-bottom-color: #DDD;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    height: 100%;
}
.foodHeader{
    margin: 12px 12px 5px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.foodTitle{
    font-size: 16px;
    font-weight: 600;
}

.starIcon {
    width: 30px;
}
.foodDescription{
    margin: 12px 12px 5px 12px;
}